<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%= og_title %></title>
    <meta name="description" content="<%= og_description %>">

    <base href="<%= base_url %>">

    <link rel="icon" href="favicon.ico">

    <!-- css reset -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <!-- css main -->
    <link rel="stylesheet" href="styles/style.css">
    <!-- awesome -->
    <script src="https://use.fontawesome.com/af003b0064.js"></script>

    <meta property="og:title" content="<%= og_title %>">
    <meta property="og:description" content="<%= og_description %>">
    <meta property="og:type" content="article">
    <meta property="og:url" content="<%= og_url %>">
    <meta property="og:image" content="<%= og_thumb %>">
    <meta property="og:site_name" content="とんかつ騎士団の公式ホームページ">
    <meta property="fb:admins" content="100001501165698">

    <link rel="index" href="<%= og_url %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="version" content="1.0">

    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

    <script src="http://knights.ton-katsu.net/tlib/dest/sns_manager-min.js"></script>
    <script src="http://knights.ton-katsu.net/tlib/dest/cjs_util-min.js"></script>
    <script src="http://knights.ton-katsu.net/tlib/dest/tonutil.js"></script>

    <script src="scripts_dest/bundle-min.js"></script>

</head>

<body data-static-img="<%= base_url %>">

<canvas id="canvas--main" width="1200" height="900"></canvas>

</body>

</html>
